extends base

block head
  - var title = 'Profile'
  script(src='/ckeditor/ckeditor.js')

block body

  - function crown(points){ if(points < 900) return "crown0.png"; else if(points >= 900 && points < 1300) return "crown1.png"; else if(points >= 1300 && points < 1500) return "crown2.png"; else if(points >= 1500 && points < 1700) return "crown3.png"; else if(points >= 1700 && points < 1900) return "crown4.png"; else if(points >= 1900 && points < 2100) return "crown5.png"; else if(points >= 2100 && points < 2300) return "crown6.png"; else if(points >= 2300 && points < 2500) return "crown7.png"; else if(points >= 2500 && points < 2700) return "crown8.png"; else if(points >= 2700 && points < 2900) return "crown9.png"; else return "crown10.png"; }
  - function winRatio(win, lost) { if(win === 0 || isNaN(win/lost)) { return 0; } if(lost === 0){ return 100; } return (win/lost).toFixed(2); }

  .wrapper
    section.left-profile
      .top 
        h4 !{user.username}
        label joined
        span #{user.joined.toGMTString().slice(0, -12)}
        label email
        span #{user.email}
        label activated account
        span #{user.active}
      
      .second
        h4 Blockwars
        label score
        span
          img(src='/img/rankings/' + crown(user.points_bw))
          | #{user.points_bw}
        label won/lost
        span #{user.games_won_bw}/#{user.games_lost_bw} 
        label win ratio 
        span #{winRatio(user.games_won_bw, user.games_lost_bw)}
        label Last visit
        span #{user.last_visit_bw.toGMTString().slice(0, -12)}

      .third
        h4 General
        label score
        span
          img(src='/img/rankings/' + crown(user.points_general))
          | #{user.points_general}
        label won/lost
        span #{user.games_won_general}/#{user.games_lost_general} 
        label win ratio 
        span #{winRatio(user.games_won_general, user.games_lost_general)}
        label Last visit
        span #{user.last_visit_general.toGMTString().slice(0, -12)}

        br
        a.profile-forgot-link(href="/forgot") Change password

    section.right-profile
      form(id='form' name='form' action='/profile', method='post')
        input(type="hidden", name="_csrf", value=csrfToken)
        textarea(name='editor') !{wysiwyg}
        input(type='submit', class='save-wysiwyg', value='Save')

  script.
    CKEDITOR.replace( 'editor', {
      removeButtons: 'Print,Iframe,Radio,Form,Checkbox,Textarea,Selection,TextField,Textarea,Select,Button,ImageButton,HiddenField,SelectAll,CreateDiv,Language,Flash,About,PageBreak'
    });


