extends base
block head
  - var title = 'Reset password'
  style.
    footer,ul#header{background-color:#333}html{height:100%;box-sizing:border-box}*,:after,:before{box-sizing:inherit}body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;margin:0;padding:0 0 4rem;min-height:100%;position:relative}ul#header{list-style-type:none;margin:0;padding:0;overflow:hidden}ul#header li{float:left}ul#header li#user_menu{float:right}ul#header li a{display:inline-block;color:#fff;text-align:center;padding:14px 16px;text-decoration:none}ul#header li a:hover{background-color:#111}footer{position:absolute;right:0;bottom:0;left:0;padding:5px;color:#FFF}footer .footer-text{float:left;margin-top:18px;font-size:15px}#register_error{text-align:center;color:red}.form-block{width:50%;padding:20px;margin:0 auto}@media screen and (max-width:815px){.form-block{width:100%}}.form-block h1{text-align:center;color:#000;font-size:18px;text-transform:uppercase;margin-top:0;margin-bottom:20px}.form-block input,.form-block input[type=submit]{width:100%;box-sizing:border-box;font-size:14px;outline:0}.form-block input{height:42px;border-radius:5px;margin-bottom:20px;padding:0 0 0 10px}.form-block input:active,.form-block input:focus,.form-block textarea:focus,textarea:active{border:1px solid #ff656c}.form-block input[type=submit]{height:40px;background:#136EA2;border-radius:5px;border:1px solid #136EA2;color:#fff;font-weight:700;text-transform:uppercase;cursor:pointer}  
  
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')

block body
  if messages.error
    .flash-message.error
      span= messages.error
  if messages.info
    .flash-message.info
      span= messages.info
  if messages.success
    .flash-message.success
      span= messages.success

  form(method="post")
    .form-block
      h1 Reset Password
      p#register_error #{error}
      input(type="hidden", name="_csrf", value=csrfToken)
      input.password(type="password", name="password", required=true, placeholder='New password', minlength="4", autofocus)
      input.password(type="password", name="confirmpassword", required=true, placeholder='Confirm password')
      input(type="submit" id="reset" value="Update Password")

  script.
    document.getElementById('reset').onclick = function () {
      var password = document.getElementsByName("password")[0].value;
      var confirmPassword = document.getElementsByName("confirmpassword")[0].value;
      var error = '';

      if (password !== confirmPassword) {
        error += "password doesn't match. </br>";
      }
      if (error !== '') {
        document.getElementById("register_error").innerHTML = error;
        return false;
      }
    };