doctype html
html
  head
    block head
    title #{title}

    meta(name='application-name' content='General')
    meta(name='description', content='General is a realtime Risk-like strategy game where you compete to conquer the world.')
    meta(property='og:title' content='General')
    meta(property='og:type' content='game')
    meta(property='og:image' content='https://general.mongot.com/img/pacghost-meta.png')
    meta(property='og:url' content='https://general.mongot.com')
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/style.css?v=1.2')
    link(rel='stylesheet', type='text/css', href='/resources/font-awesome.min.css')

  body
    header
      ul#header
        li
          a(href='https://mongot.com') <i class="fa fa-home" aria-hidden="true"></i> Home
        li
          a(href='/lobby') <i class="fa fa-globe" aria-hidden="true"></i> Lobby
        li
          a(href='/highscore') <i class="fa fa-trophy" aria-hidden="true"></i> High Score
        if user
          li.user_menu
            a(href='https://mongot.com/logout') <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
          li.user_menu
            a(href='https://mongot.com/profile') <i class="fa fa-user" aria-hidden="true"></i> #{user.username}
        else
          li.user_menu
            a(href='https://mongot.com/login') <i class="fa fa-sign-in" aria-hidden="true"></i> Login
          li.user_menu
            a(href='https://mongot.com/register') <i class="fa fa-user-plus" aria-hidden="true"></i> Register

    noscript
      p#jsonly We're sorry, but General doesn't work without JavaScript enabled. Please enable it

    if messages.info
      .flash-message.info
        span= messages.info
    else if messages.success
      .flash-message.success
        span= messages.success
    else if messages.error
      .flash-message.error
        span
        | !{messages.error}

    block body

    block footer
    footer
      p.footer-text &copy; mongot.general.com |&nbsp;
        a(href="https://mongot.com/contact") contact |&nbsp;
        a(href="/rules") game rules

      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top', style='float:right;')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='D22ZEXM7TB6EU')
        input(type='image', src='/img/donate-coffe.png', width='150', height='50', name='submit', title='PayPal - The safer, easier way to pay online!', alt='Donate')


